<h1>Add a new photo</h1>
<form action="/create_item">
  <!-- TITLE -->
  <label for="title">Item title</label>
  <input type="text" id="title" name="title" value="">
  <!-- FILE -->
  <label for="image_url">File</label>
  <input type="text" id="image_url" name="image_url" value="">
  <!-- DESCRIPTION -->
  <label for="description">Description(Just write online exclusive)</label>
  <input type="text" id="description" name="description" value="">
  <!-- COST -->
  <label for="cost">Price/Cost(DOLLAR SIGN ALREADY INCLUDED)</label>
  <input type="text" id="cost" name="cost" value="">
  <!-- SALE -->
  <label for="sale">Sale amount</label>
  <input type="integer" id="sale" name="sale" value="">
  <!-- SUBMIT -->
  <input type="submit" >
</form>
