<a href="/shop"></a>
<a href="/photos/destroy"></a>
<a =href="#"></a>

<div class="row">
  <% Item.all.each do |item|%>
  <div class="col-sm-6 col-md-2">
    <div class="thumbnail">
      <img src="/<%= item.image_url %>" alt="Shirt 1">
      <div class="caption">
        <h3><%= item.title %></h3>
        <p>$<%= item.cost %> (SALE!)</p>
        <p>ONLINE EXCLUSIVE</p>
        <p><%= item.sale %>% OFF!</p>
        <p><a href="#" class="btn btn-primary btn-lg btn-block" role="button">ADD TO CART</a></p>
      </div>
    </div>
  </div>
  <%end%>
</div>
