<h1>How annoyingly similar to you is your problem?</h1>
<form action="/contact/solve">
  <!-- HUMAN VERIFICATION -->
  <label for="title">Enter the words on the right</label>
  <img src="/VERIFICATION.png" style="width:304px;height:228px;">
  <input type="text" id="title" name="title" value="">
  <!-- SUBMIT BUTTON -->
  <button type="button" class="btn btn-primary">Verify ✔︎</button>
</form>
