<h1>We are definitely solving you're problem, and not looking at the words, " u suck " over and over again, while thinking about our customers (like you).</h1>
<form action="/contact/solve">
  <!-- HUMAN VERIFICATION -->
  <img src="/spongebobicon.jpg" style="width:678px;height:678px;">
</form>
