<h1>We need to verify that you're human.</h1>
<form action="/contact/info">
  <!-- HUMAN VERIFICATION -->
  <label for="title">Enter the words on the right</label>
  <img src="/VERIFICATION.png" style="width:304px;height:228px;">
  <input type="text" id="title" name="title" value="">
  <!-- SUBMIT BUTTON -->
  <button type="submit" class="btn btn-primary">Verify ✔︎</button>
</form>
